body{
	margin-top: 50px;
	background:#eee;
}

div.white{background-color: #fff;}
div.tooltip {
  position: absolute;
  color:#fff;
  width:200px;
  padding: 8px;
  font: 12px sans-serif;
  background: #333;
  border: solid 1px #aaa;
  border-radius: 4px;
  pointer-events: none;
}


.container{
  max-width: none !important;
  width: 970px;
}
